<head>
    <link rel="stylesheet" href="footer.css">
</head>
<div class="body">
<div class="box">
    <div class="box-sm red"></div>
    <div class="box-sm orange"></div>
    <div class="box-sm yellow "></div>
    <div class="box-sm green "></div>
    <div class="box-sm blue "></div>
    <div class="box-sm purple"></div>
  </div>
</div>
</div>
<div class="footer">
    <div class="social">
        <p style="font-size: 20px;font-weight: 600;margin: 15% 0% 0% 0%">DIGITA</p>
        <p style="font-size: 18px;color: #6e7051;margin-top: 20%;">Praesent eget tortor sit </p>
        <p style="font-size: 18px;color: #6e7051;margin-top: 4%;"> egestas nulla pharetra </p>
        <p style="font-size: 18px;color: #6e7051;margin-top: 4%;">quis bibendum est </p>
        <p style="font-size: 18px;color: #6e7051;margin-top: 4%;"> sapien proin nascetur</p>
        <p style="font-size: 18px;color: #6e7051;margin-top: 4%;">risus quis bitum</p>
       
    </div>
    <div class="social">
        <p style="font-size: 20px;font-weight: 600;margin: 15% 0% 0% 0%">Shop</p>
        <p style="font-size: 18px;color: #6e7051;margin-top: 23%;">Shop Men</p>
        <p style="font-size: 18px;color: #6e7051;margin-top: 4%;">Shop Women</p>
        <p style="font-size: 18px;color: #6e7051;margin-top: 4%;">Lookbook</p>
        <p style="font-size: 18px;color: #6e7051;margin-top: 4%;">Gift Card</p>
        <p style="font-size: 18px;color: #6e7051;margin-top: 4%;">Sale</p>
    </div>
    <div class="social">
        <p style="font-size: 20px;font-weight: 600;margin: 15% 0% 0% 0%">About</p>
        <p style="font-size: 18px;color: #6e7051;margin-top: 23%;">Our Story</p>
        <p style="font-size: 18px;color: #6e7051;margin-top: 4%;">Our Materials</p>
        <p style="font-size: 18px;color: #6e7051;margin-top: 4%;">Our Value</p>
        <p style="font-size: 18px;color: #6e7051;margin-top: 4%;">Sustainability</p>
        <p style="font-size: 18px;color: #6e7051;margin-top: 4%;">Manufacture</p>
    </div>
    <div class="social">
        <p style="font-size: 20px;font-weight: 600;margin: 15% 0% 0% 0%">Need Help?</p>
        <p style="font-size: 18px;color: #6e7051;margin-top: 23%;">FAQs</p>
        <p style="font-size: 18px;color: #6e7051;margin-top: 4%;">Shipping & Returns</p>
        <p style="font-size: 18px;color: #6e7051;margin-top: 4%;">Shoe Care</p>
        <p style="font-size: 18px;color: #6e7051;margin-top: 4%;">Size Chart</p>
        <p style="font-size: 18px;color: #6e7051;margin-top: 4%;">Contact Us</p>
    </div>
</div>


<div class="card">
    <p style="color: #979A9B;margin-left: 5%;">© 2023 Recycled Shoe Store. Powered by Recycled Shoe Store.</p>
</div>